<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default pass-panel">
                <div class="panel-heading text-center"><h4>Edycja regulaminu</h4></div>
                <div class="panel-body">
                    <textarea class="form-control">
Witamy w systemie elektronicznego rozpatrywania podań w dziekanacie PJWSTK.
Aby złożyć podanie, zaloguj się używając loginu i hasła z domeny PJWSTK.
Możesz się zalogować nawet gdy twoje konto jest zablokowane.

Dlaczego warto składać podania drogą elektroniczną?

Nie musisz chodzić do dziekanatu aby złożyć podanie.
Nie musisz chodzić lub dzwonić do dziekanatu, aby dowiedzieć się, czy podanie zostało rozpatrzone. Aktualny status twojego podania będzie widoczny na stronie.
Podania elektroniczne są rozpatrywane szybciej.


Gakko - dziekanat
Gakko - nr konta do wpłat (bez logowania)
Wszystkie zauważone błędy techniczne prosimy zgłaszać na adres:gakko@pjwstk.edu.pl
Inne problemy proszę zgłaszac do odpowiednich dziekanatów: Warszawa, Bytom, Gdańsk.
Program został zrealizowany w ramach projektu: GAKKO
Jeżeli chcesz zmienić hasło zapraszamy na stronę:haslo.pjwstk.edu.pl
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</div>