<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default pass-panel">
                <div class="panel-heading text-center"><h4>Podanie studenta</h4></div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="passType">Typ podania</label>
                            <select class="form-control" id="passType">
                                <option>Chciałbym złożyć podanie ogólne</option>
                                <option>Chciałbym złożyć podanie o ITN</option>
                                <option>Chciałbym złożyć podanie o ponowny wpis</option>
                                <option>Chciałbym złożyć podanie o redukcję czesnego</option>
                                <option>Chciałbym złożyć podanie o urlop</option>
                                <option>Chciałbym złożyć podanie o warynkowy wpis</option>
                                <option>Chciałbym złożyć podanie o skreślenie z listy</option>
                                <option>Chciałbym złożyć podanie o wymianę legitymacji</option>
                                <option>Chciałbym złożyć podanie o duplikat legitymacji</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">Załącz plik</label>
                            <input type="file" id="exampleInputFile">
                        </div>
                        <div class="text-center">
                            
                            <a href="#/" class="btn btn-info">Złóż podanie</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>