<!doctype html>
<html lang="pl" ng-app="clash-of-clans-calculator">
<head>
    <th:block th:include="fragments/meta :: meta"/>
    <title>PJATK - System składania podań</title>
    <th:block th:include="fragments/css :: css"/>
</head>

<body id="page-top">
<div class="logo-panel">
    <div class="logo">
    <img src="http://www.pja.edu.pl/templates/pjwstk/images/logo-lg-md.png"/>
    </div>
</div>
<div ui-view=""></div>

<script src="/js/angular/angular.min.js"></script>
<script src="/js/angular/angular-ui-router.min.js"></script>
<script src="/js/pjwstk/app.modules.js"></script>
<script src="/js/pjwstk/app.routes.js"></script>
</body>
</html>