<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default pass-panel">
                <div class="panel-heading text-center"><h4>Złożone podania</h4></div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <th class="col-sm-1"># ID <i class="fa fa-sort-desc"></i></th>
                        <th class="col-sm-5">Tutuł <i class="fa fa-sort"></i></th>
                        <th class="col-sm-2">Status <i class="fa fa-sort"></i></th>
                        <th class="col-sm-2">Data złożenia <i class="fa fa-sort"></i></th>
                        <th class="col-sm-2">Ostatnia aktualizacja <i class="fa fa-sort"></i></th>

                        <tr>
                            <td>1</td>
                            <td>Podanie o dodatkowy ITN</td>
                            <td><span class="label label-primary">Oczekujące</span></td>
                            <td>23/04/2015</td>
                            <td>23/04/2015</td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Podanie o wydanie dodatkowej legitymacji</td>
                            <td><span class="label label-success">Zaakceptowane</span></td>
                            <td>23/04/2015</td>
                            <td>23/04/2015</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>Podanie o wydanie dodatkowej legitymacji</td>
                            <td><span class="label label-danger">Odrzucone</span></td>
                            <td>23/04/2015</td>
                            <td>23/04/2015</td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>Podanie o wydanie dodatkowej legitymacji</td>
                            <td><span class="label label-primary">Oczekujące</span></td>
                            <td>23/04/2015</td>
                            <td>23/04/2015</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>